<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<!-- SMTP Settings -->
		<add key="SmtpHost" value="smtp.gmail.com" />
		<add key="SmtpPort" value="587" />
		<add key="SmtpEnableSsl" value="true" />
		<add key="SmtpUsername" value="crudpassr3cover@gmail.com" />
		<add key="SmtpPassword" value="yuwb oynb kbji uorr" />
		<!-- Replace with your actual Gmail password or app password -->
	</appSettings>
</configuration>

